{% extends 'base.html' %}

{% block header %}
<div class="jumbotron">
   <div class="container">
     <h1 class="display-4">News</h1>
   </div>
 </div>
{% endblock header %}

{% block content %}
<div class="container">
<ul class="list-group list-group-flush">


   <h1>タイトルa</h1>
   {% for post, post2 in lists %} 
   <h2>URL：{{ post }}</h2>

   <section>
   {% for post3 in post2 %} 
   {% if "alt=" in post3 %}
   {% if "h1" in post3 %}
   <div>【h1】{{ post3 }}</div>
   {% else %}
   {% endif %}

   {% if "h2" in post3 %}
   <div>【h2】{{ post3 }}</div>
   {% else %}
   {% endif %}


   {% if "h3" in post3 %}
   <div>【h3】{{ post3 }}</div>
   {% else %}
   {% endif %}   
   {% else %}
  <!-- <div>{{ post3|striptags }}</div>-->

   {% if "h1" in post3 %}
   <div>【h1】{{ post3|striptags }}</div>
   {% else %}
   {% endif %}

   {% if "h2" in post3 %}
   <div>【h2】{{ post3|striptags }}</div>
   {% else %}
   {% endif %}


   {% if "h3" in post3 %}
   <div>【h3】{{ post3|striptags }}</div>
   {% else %}
   {% endif %}   


   {% endif %} 
   {% endfor %}
 </section>

   <!--{% for post3 in post2 %}
   <p>{{ post3|striptags }}</p>
   <p>post</p>
   {% endfor %}-->
   {% endfor %}

</ul>
</div>
{% endblock content %}